[package]
name = "swarmcret"
version = "0.0.0"
edition = "2021"

[dependencies]

[dev-dependencies]
assert2 = "0.4.0"
tempfile = "3.3.0"

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
panic = 'abort'
strip = true
